.img-content {
    width: 100%;
    height: 300px;
    background: url("../images/Frangoft.jpg");
    background-color: aqua;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: inset 0px -20px 20px #ebc857;
}

.melhor-frangobg {
    width: 40%;
    height: 50%;
    background: url("../images/bg-melhor-regiao.png");
    background-position: center;
    background-size: cover;
    margin-right: 30px;
    min-width: 300px;
    img {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .melhor-frangobg {
        display: none;
    }
}