* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ebc857;
    display: flex;
    flex-direction: column;
}

.Logo {
    width: 179px;
    height: 100%;
    background: url(../images/frangofritologo.png);
    background-position: center center;
    background-size: cover;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: Anm 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes Anm {
    0% {
        opacity: -1;
    }
    100% {
        opacity: 1;
    }
}